body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  background: #EEE;
}

#nojs {
  display: none;
}

.no-js #nojs {
  display: block;
}

.no-js #content {
  display: none;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  min-height: 100%;
}

.container header h1 {
  background: black;
  margin-top: 0;
  color: white;
  padding: 0 6px 6px 6px;  
}

.container .main {
  padding: 0 6px;
}
.container footer {
  font-size: 0.8em;
  background: #666;
  color: white;
  padding: 6px;
  margin-top: 2em;
}

#status {
  display: none;
}

#characterCreationForm {
  display: none;
}

#newCharacter input {
  width: 300px;
}