html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  font-size: 1em;
}

.biteme {
  margin: 0;
  border: 0;
  padding: 0;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 100%;
}

.biteme tr,
.biteme td {
  padding: 0;
  margin: 0;
  border: 0;
}

.gamescreen {
  position: relative;
  width: 1024px;
  height: 600px;
  background: white;
  top: 50%;
  margin: -300px auto auto auto;
  -webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.gamescreen h1 {
  margin-top: 0;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
}

.storyinto {
  font-size: 1.8em;
  line-height: 1.6em;
  margin-top: 1.5em;
  margin-left: 100px;
  margin-right: 100px;
}

.storyinto input {
  font-size: 1em;
  background: #EEE;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 6px;
  width: 290px;
  border: 3px dashed #999;
  text-align: center;
}

.wakeup {
  width: 100%;
  text-align: center;
}

.wakeup button {
  font-size: 2em;
  background: #EEE;
  color: #666;
  border: 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 24px;
  margin-top: 0.5em;
  cursor: pointer;
}


#page2 {
  display: none;
}

/*  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}
*/

/*
.nojs {
  display: none;
}

.about {
  margin-bottom: 2em;
}

.no-js #nojs {
  display: block;
}

.no-js #content {
  display: none;
}



.characterCreationForm {
  display: block;
}

.storyinto {
  font-size: 1.8em;
  line-height: 1.6em;
}

.storyinto input {
  font-size: 1em;
  background: #EEE;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 6px;
  width: 290px;
  border: 3px dashed #999;
  text-align: center;
}



.playarea {
  display: none;
}

.currentDateTime {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 0;  
  margin-bottom: 0.5em;
}

.left {
  width: 700px;
  margin-left: 6px;
  margin-right: 6px;
  float: left;
}

.right {
  width: 300px;
  height: 600px;
  margin-left: 6px;
  margin-right: 6px;
  float: left;
  background-image: url(../imgs/map.png);
  background-size: 100% 100%;
}

#oldStatus ul,
#details ul {
  padding: 0;
  margin: 0;
}

#oldStatus ul li,
#details ul li {
  list-style: none;  
}

#status {
  display: none;
  padding: 0;
  margin: 0;
}
*/

