body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}

#blood {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #CC1100;
  display: none;
}

#nojs {
  display: none;
}

#about {
  margin-bottom: 2em;
}

.no-js #nojs {
  display: block;
}

.no-js #content {
  display: none;
}

.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  min-height: 100%;
  position: relative;
}

.container header h1 {
  background: black;
  font-size: 3em;
  margin: 0;
  color: white;
  padding: 6px 18px;
  line-height: 1.1em;
}

.container footer {
  font-size: 0.8em;
  background: #666;
  color: white;
  margin-top: 2em;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.container footer div {
  padding: 6px;
}

.holder {
  overflow: auto;
  clear: both;
}

.main {
    color: #333;
}


#characterCreationForm {
  display: none;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}


.storyinto {
  font-size: 1.8em;
  line-height: 1.6em;
}

.storyinto input {
  font-size: 1em;
  background: #EEE;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 6px;
  width: 290px;
  border: 3px dashed #999;
  text-align: center;
}

.wakeup {
  width: 100%;
  text-align: center;
}

.wakeup button {
  font-size: 2em;
  background: #EEE;
  color: #666;
  border: 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 24px;
  margin-bottom: 3em;
}

#map {
  width: 100%;
  height: 140px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#mapcover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #CC1100;
  opacity: 0.0;
  -moz-opacity: 0.0;
  filter:alpha(opacity=0);
}

.gamescreen {
  display: none;
  font-size: 1.4em;
}

.currentDateTime {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 0.5em;  
  margin-bottom: 0.5em;
}

.left,
.right {
  width: 500px;
  margin-left: 6px;
  margin-right: 6px;
  float: left;
}

#oldStatus ul,
#details ul {
  padding: 0;
  margin: 0;
}

#oldStatus ul li,
#details ul li {
  list-style: none;  
}

#status {
  display: none;
  padding: 0;
  margin: 0;
}


